In [51]:
import re
import polars as pl

In [52]:
df = pl.read_csv(r'./data/coaster_db.csv')
df.head()

shape: (5, 56)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ coaster_na ┆ Length     ┆ Speed ┆ Location   ┆ … ┆ height_un ┆ height_ft ┆ Inversion ┆ Gforce_cl │
│ me         ┆ ---        ┆ ---   ┆ ---        ┆   ┆ it        ┆ ---       ┆ s_clean   ┆ ean       │
│ ---        ┆ str        ┆ str   ┆ str        ┆   ┆ ---       ┆ f64       ┆ ---       ┆ ---       │
│ str        ┆            ┆       ┆            ┆   ┆ str       ┆           ┆ i64       ┆ f64       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Switchback ┆ 600 ft     ┆ 6 mph ┆ Coney      ┆ … ┆ ft        ┆ null      ┆ 0         ┆ 2.9       │
│ Railway    ┆ (180 m)    ┆ (9.7  ┆ Island     ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆ km/h) ┆            ┆   ┆           ┆           ┆           ┆           │
│ Flip Flap  ┆ null       ┆ null  ┆ Sea Lion   ┆ … ┆ null      ┆ null      ┆ 1         ┆ 12.0      │
│ Railway    ┆            ┆       ┆ Park       ┆   ┆           ┆           ┆           ┆           │
│ Switchback ┆ null       ┆ null  ┆ Cleveland, ┆ … ┆ null      ┆ null      ┆ 0         ┆ null      │
│ Railway    ┆            ┆       ┆ Ohio,      ┆   ┆           ┆           ┆           ┆           │
│ (Euclid    ┆            ┆       ┆ United     ┆   ┆           ┆           ┆           ┆           │
│ Bea…       ┆            ┆       ┆ States     ┆   ┆           ┆           ┆           ┆           │
│ Loop the   ┆ null       ┆ null  ┆ Other      ┆ … ┆ null      ┆ null      ┆ 1         ┆ null      │
│ Loop       ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ (Coney     ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Island)    ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Loop the   ┆ null       ┆ null  ┆ Other      ┆ … ┆ null      ┆ null      ┆ 1         ┆ null      │
│ Loop       ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ (Young's   ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Pier)      ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

### Filter columns

In [53]:
df = df[[
    'coaster_name', 'Location', 'Status', 'Type_Main', 'Manufacturer',
    'Length', 'Height', 'speed2', 'Duration', 'Capacity', 'Gforce_clean',
    'opening_date_clean', 'Closing date', 'latitude', 'longitude'
]]
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬─────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ coaster_na ┆ Location   ┆ Status  ┆ Type_Main ┆ … ┆ opening_d ┆ Closing   ┆ latitude ┆ longitude │
│ me         ┆ ---        ┆ ---     ┆ ---       ┆   ┆ ate_clean ┆ date      ┆ ---      ┆ ---       │
│ ---        ┆ str        ┆ str     ┆ str       ┆   ┆ ---       ┆ ---       ┆ f64      ┆ f64       │
│ str        ┆            ┆         ┆           ┆   ┆ str       ┆ str       ┆          ┆           │
╞════════════╪════════════╪═════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ Removed ┆ Wood      ┆ … ┆ 1884-06-1 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆         ┆           ┆   ┆ 6         ┆           ┆          ┆           │
└────────────┴────────────┴─────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

### Rename columns

In [54]:
df = df.rename(lambda col: col.lower().replace(' ', '_'))
df = df.rename({
    'coaster_name': 'name',
    'type_main': 'material',
    'opening_date_clean': 'opening_date',
    'closing_date': 'closing_year',
    'speed2': 'speed_in_kmh',
    'duration': 'duration',
    'gforce_clean': 'g_force',
    'length': 'length_in_m',
    'height': 'height_in_m'
})
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬─────────┬──────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status  ┆ material ┆ … ┆ opening_da ┆ closing_y ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---     ┆ ---      ┆   ┆ te         ┆ ear       ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ str     ┆ str      ┆   ┆ ---        ┆ ---       ┆ f64      ┆ f64       │
│            ┆            ┆         ┆          ┆   ┆ str        ┆ str       ┆          ┆           │
╞════════════╪════════════╪═════════╪══════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ Removed ┆ Wood     ┆ … ┆ 1884-06-16 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆         ┆          ┆   ┆            ┆           ┆          ┆           │
└────────────┴────────────┴─────────┴──────────┴───┴────────────┴───────────┴──────────┴───────────┘

### Change status column's values

In [55]:
def change_status(status: str) -> str:
    temporary_closed = (
        'Temporarily closed', 'Temporarily Closed',
    )

    closed = (
        'Closed', 'Closed in 2021', 'Not Currently Operating',
        'Discontinued', 'Removed',
        'Chapter 7 bankruptcy; rides dismantled and sold; property sold'
    )

    sbno = (
        'SBNO (Standing But Not Operating)', 'SBNO December 2019'
    )

    under_maintenance = (
        'Under Maintenance',
        'closed for maintenance as of july 30 no reopening date known'
    )

    result = ''

    if status in temporary_closed:
        result = 'temporary_closed'
    elif status in closed:
        result = 'closed'
    elif status in sbno:
        result = 'sbno'
    elif status in under_maintenance:
        result = 'under_maintenance'
    elif status == 'Under construction':
        result = 'In Production'
    else:
        result = status

    return result.lower().replace(' ', '_')


print('Before:')
display(df['status'].unique().to_list())

df = df.with_columns(pl.col('status').fill_null('unknown'))
df = df.with_columns(pl.col('status').map_elements(
    change_status, return_dtype=pl.String).cast(pl.Categorical))

print('After:')
display(df['status'].unique().to_list())

Before:

['SBNO December 2019',
 None,
 'Temporarily closed',
 'Removed',
 'closed for maintenance as of july 30 no reopening date known',
 'Temporarily Closed',
 'Not Currently Operating',
 'Chapter 7 bankruptcy; rides dismantled and sold; property sold',
 'In Production',
 'Closed in 2021',
 'SBNO (Standing But Not Operating)',
 'Discontinued',
 'Under Maintenance',
 'Under construction',
 'Closed',
 'Operating']

After:

['closed',
 'operating',
 'unknown',
 'in_production',
 'under_maintenance',
 'sbno',
 'temporary_closed']

### Convert material column type to categorical

In [56]:
df = df.with_columns(
    pl.col('material').str.to_lowercase().cast(pl.Categorical)
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Fill null values in manufacturer column with unknown

In [57]:
df = df.with_columns(pl.col('manufacturer').fill_null('unknown'))
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Extract meter in length & height columns

In [58]:
def extract_meter(value: str) -> float:
    match = re.search(r"\(([\d.,]+)\s*m\)", value)

    if match:
        return float(match.group(1).replace(',', ''))
    else:
        return None


df = df.with_columns(
    pl.col("length_in_m").map_elements(extract_meter, return_dtype=pl.Float64),
    pl.col("height_in_m").map_elements(extract_meter, return_dtype=pl.Float64)
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Extract km/h in speed column

In [59]:
def extract_kmh(value: str) -> float:
    MPH_TO_KMH = 1.60934

    if "mp" in value:
        # Convert mph to km/h
        return float(re.search(r"[\d.]+", value).group()) * MPH_TO_KMH
    elif "km" in value:
        return float(re.search(r"[\d.]+", value).group())
    else:
        return None


df = df.with_columns(
    pl.col("speed_in_kmh").map_elements(extract_kmh, return_dtype=pl.Float64)
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Convert duration_in_sec column values format to second

In [60]:
def extract_second(value: str) -> int:
    value = value.lower().strip()  # Normalize case and strip spaces

    # Handle number:number format (e.g., 1:48)
    match = re.match(r'^(?P<minutes>\d+):(?P<seconds>\d+)', value)
    if match:
        minutes = int(match.group('minutes'))
        seconds = int(match.group('seconds'))
        return minutes * 60 + seconds

    # Handle patterns like "1 minute 30 seconds", "1 min 30 sec"
    match = re.match(
        r'(?P<minutes>\d+)\s*min(?:ute)?s?\s*(?P<seconds>\d+)\s*sec(?:ond)?s?', value)
    if match:
        minutes = int(match.group('minutes'))
        seconds = int(match.group('seconds'))
        return minutes * 60 + seconds

    # Handle patterns like "1 minute" or "90 seconds"
    match = re.match(r'(?P<minutes>\d+)\s*min(?:ute)?s?', value)
    if match:
        return int(match.group('minutes')) * 60
    match = re.match(r'(?P<seconds>\d+)\s*sec(?:ond)?s?', value)
    if match:
        return int(match.group('seconds'))

    # Handle ranges like "between 1 minute 20 seconds and 1 minute 30 seconds"
    match = re.match(r'between\s*(?P<min_minutes>\d+)\s*min(?:ute)?s?\s*(?P<min_seconds>\d+)\s*sec(?:ond)?s?\s*and\s*(?P<max_minutes>\d+)\s*min(?:ute)?s?\s*(?P<max_seconds>\d+)\s*sec(?:ond)?s?', value)
    if match:
        min_minutes = int(match.group('min_minutes'))
        min_seconds = int(match.group('min_seconds'))
        max_minutes = int(match.group('max_minutes'))
        max_seconds = int(match.group('max_seconds'))
        min_total = min_minutes * 60 + min_seconds
        max_total = max_minutes * 60 + max_seconds
        return (min_total + max_total) // 2  # Average of the range

    # Handle approximate values and extra characters (strip non-numeric characters)
    value = re.sub(r'[^0-9:]', '', value)
    if value.isdigit():
        return int(value)

    return None  # For unhandled cases


df = df.with_columns(
    (
        pl.col('duration').map_elements(
            extract_second, return_dtype=pl.Int64
        ) * 1000
    ).cast(pl.Duration('ms'))
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Extract number of riders in capacity column

In [61]:
def extract_capacity(value: str) -> int:
    value = value.replace(',', '')

    return int(re.search(r"\d+", value).group())


df = df.with_columns(
    pl.col("capacity").map_elements(extract_capacity, return_dtype=pl.Int64)
)

df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ str        ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Cast the type of opening_date column to pl.Date

In [62]:
df = df.with_columns(
    pl.col("opening_date").str.strptime(pl.Date, format=r"%Y-%m-%d")
)

df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ date       ┆ str        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Extract the year & cast the type of closing_year column to pl.Int16

In [63]:
def extract_year(value: str) -> int:
    # Regex to find a 4-digit year, a decade (e.g., 1990s), or a date with a year
    match = re.search(
        r'\b(\d{4})\b|(\d{4})s\b|(\d{1,2})\s*[A-Za-z]+\s*(\d{4})', value)

    if match:
        # Return the year: if it's a decade, return the first four digits; otherwise, return the found year
        return int(match.group(1)) if match.group(1) else int(match.group(2)) if match.group(2) else int(match.group(4))
    else:
        return None  # If no match is found


df = df.with_columns(
    pl.col("closing_year").map_elements(extract_year, return_dtype=pl.Int16)
)

df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ material ┆ … ┆ opening_da ┆ closing_ye ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ te         ┆ ar         ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ cat      ┆   ┆ ---        ┆ ---        ┆ f64      ┆ f64       │
│            ┆            ┆        ┆          ┆   ┆ date       ┆ i16        ┆          ┆           │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ wood     ┆ … ┆ 1884-06-16 ┆ null       ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆          ┆   ┆            ┆            ┆          ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

### Drop cuplicate rows based on the combination of name & location columns

In [64]:
print(f'Before = {df.shape}')

df = df.unique(
    subset=["name", "location"],
    maintain_order=True  # True = don't sort
)

print(f'After  = {df.shape}')

Before = (1087, 15)
After  = (990, 15)

### Display cleaned data

In [65]:
df

shape: (990, 15)
┌────────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ name       ┆ location  ┆ status    ┆ material ┆ … ┆ opening_d ┆ closing_y ┆ latitude ┆ longitude │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ate       ┆ ear       ┆ ---      ┆ ---       │
│ str        ┆ str       ┆ cat       ┆ cat      ┆   ┆ ---       ┆ ---       ┆ f64      ┆ f64       │
│            ┆           ┆           ┆          ┆   ┆ date      ┆ i16       ┆          ┆           │
╞════════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney     ┆ closed    ┆ wood     ┆ … ┆ 1884-06-1 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island    ┆           ┆          ┆   ┆ 6         ┆           ┆          ┆           │
│ Flip Flap  ┆ Sea Lion  ┆ closed    ┆ wood     ┆ … ┆ 1895-01-0 ┆ 1902      ┆ 40.578   ┆ -73.979   │
│ Railway    ┆ Park      ┆           ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ Switchback ┆ Cleveland ┆ closed    ┆ other    ┆ … ┆ null      ┆ null      ┆ 41.58    ┆ -81.57    │
│ Railway    ┆ , Ohio,   ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ (Euclid    ┆ United    ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Bea…       ┆ States    ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Loop the   ┆ Other     ┆ closed    ┆ steel    ┆ … ┆ 1901-01-0 ┆ 1910      ┆ 40.5745  ┆ -73.978   │
│ Loop       ┆           ┆           ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ (Coney     ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Island)    ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Loop the   ┆ Other     ┆ closed    ┆ steel    ┆ … ┆ 1901-01-0 ┆ 1912      ┆ 39.3538  ┆ -74.4342  │
│ Loop       ┆           ┆           ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ (Young's   ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Pier)      ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ …          ┆ …         ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ Ice        ┆ SeaWorld  ┆ in_produc ┆ steel    ┆ … ┆ 2022-02-0 ┆ null      ┆ 28.4088  ┆ -81.4633  │
│ Breaker    ┆ Orlando   ┆ tion      ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ (roller    ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ coaster)   ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Leviathan  ┆ Sea World ┆ in_produc ┆ wood     ┆ … ┆ 2022-01-0 ┆ null      ┆ -27.9574 ┆ 153.4263  │
│ (Sea       ┆           ┆ tion      ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ World)     ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Pantheon   ┆ Busch     ┆ in_produc ┆ steel    ┆ … ┆ 2022-01-0 ┆ null      ┆ 37.2339  ┆ -76.6426  │
│ (roller    ┆ Gardens   ┆ tion      ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ coaster)   ┆ Williamsb ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│            ┆ urg       ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Tumbili    ┆ Kings     ┆ in_produc ┆ steel    ┆ … ┆ null      ┆ null      ┆ null     ┆ null      │
│            ┆ Dominion  ┆ tion      ┆          ┆   ┆           ┆           ┆          ┆           │
│ Wonder     ┆ Six Flags ┆ in_produc ┆ steel    ┆ … ┆ 2022-01-0 ┆ null      ┆ null     ┆ null      │
│ Woman      ┆ Magic     ┆ tion      ┆          ┆   ┆ 1         ┆           ┆          ┆           │
│ Flight of  ┆ Mountain  ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
│ Courage    ┆           ┆           ┆          ┆   ┆           ┆           ┆          ┆           │
└────────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴──────────┴───────────┘

### Export cleaned data into a Feather file

In [66]:
df.write_ipc('./data/coaster_db-cleaned.arrow')