In [149]:
import re
import polars as pl

In [150]:
df = pl.read_csv(r'./data/coaster_db.csv')
df.head()

shape: (5, 56)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ coaster_na ┆ Length     ┆ Speed ┆ Location   ┆ … ┆ height_un ┆ height_ft ┆ Inversion ┆ Gforce_cl │
│ me         ┆ ---        ┆ ---   ┆ ---        ┆   ┆ it        ┆ ---       ┆ s_clean   ┆ ean       │
│ ---        ┆ str        ┆ str   ┆ str        ┆   ┆ ---       ┆ f64       ┆ ---       ┆ ---       │
│ str        ┆            ┆       ┆            ┆   ┆ str       ┆           ┆ i64       ┆ f64       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Switchback ┆ 600 ft     ┆ 6 mph ┆ Coney      ┆ … ┆ ft        ┆ null      ┆ 0         ┆ 2.9       │
│ Railway    ┆ (180 m)    ┆ (9.7  ┆ Island     ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆ km/h) ┆            ┆   ┆           ┆           ┆           ┆           │
│ Flip Flap  ┆ null       ┆ null  ┆ Sea Lion   ┆ … ┆ null      ┆ null      ┆ 1         ┆ 12.0      │
│ Railway    ┆            ┆       ┆ Park       ┆   ┆           ┆           ┆           ┆           │
│ Switchback ┆ null       ┆ null  ┆ Cleveland, ┆ … ┆ null      ┆ null      ┆ 0         ┆ null      │
│ Railway    ┆            ┆       ┆ Ohio,      ┆   ┆           ┆           ┆           ┆           │
│ (Euclid    ┆            ┆       ┆ United     ┆   ┆           ┆           ┆           ┆           │
│ Bea…       ┆            ┆       ┆ States     ┆   ┆           ┆           ┆           ┆           │
│ Loop the   ┆ null       ┆ null  ┆ Other      ┆ … ┆ null      ┆ null      ┆ 1         ┆ null      │
│ Loop       ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ (Coney     ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Island)    ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Loop the   ┆ null       ┆ null  ┆ Other      ┆ … ┆ null      ┆ null      ┆ 1         ┆ null      │
│ Loop       ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ (Young's   ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ Pier)      ┆            ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

### Filter columns

In [151]:
df = df[[
    'coaster_name', 'Location', 'Status', 'Type_Main', 'Manufacturer',
    'Length', 'Height', 'speed2', 'Duration', 'Capacity', 'Gforce_clean',
    'opening_date_clean', 'Closing date', 'latitude', 'longitude'
]]
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬─────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ coaster_na ┆ Location   ┆ Status  ┆ Type_Main ┆ … ┆ opening_d ┆ Closing   ┆ latitude ┆ longitude │
│ me         ┆ ---        ┆ ---     ┆ ---       ┆   ┆ ate_clean ┆ date      ┆ ---      ┆ ---       │
│ ---        ┆ str        ┆ str     ┆ str       ┆   ┆ ---       ┆ ---       ┆ f64      ┆ f64       │
│ str        ┆            ┆         ┆           ┆   ┆ str       ┆ str       ┆          ┆           │
╞════════════╪════════════╪═════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ Removed ┆ Wood      ┆ … ┆ 1884-06-1 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆         ┆           ┆   ┆ 6         ┆           ┆          ┆           │
└────────────┴────────────┴─────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

### Rename columns

In [152]:
df = df.rename(lambda col: col.lower().replace(' ', '_'))
df = df.rename({
    'coaster_name': 'name',
    'opening_date_clean': 'opening_date',
    'closing_date': 'closing_year',
    'speed2': 'speed_in_kmh',
    'duration': 'duration_in_sec',
    'gforce_clean': 'g_force',
    'length': 'length_in_m',
    'height': 'height_in_m'
})
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬─────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status  ┆ type_main ┆ … ┆ opening_d ┆ closing_y ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---     ┆ ---       ┆   ┆ ate       ┆ ear       ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ str     ┆ str       ┆   ┆ ---       ┆ ---       ┆ f64      ┆ f64       │
│            ┆            ┆         ┆           ┆   ┆ str       ┆ str       ┆          ┆           │
╞════════════╪════════════╪═════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ Removed ┆ Wood      ┆ … ┆ 1884-06-1 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆         ┆           ┆   ┆ 6         ┆           ┆          ┆           │
└────────────┴────────────┴─────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

### Change status column's values

In [153]:
def change_status(status: str) -> str:
    temporary_closed = (
        'Temporarily closed', 'Temporarily Closed',
    )

    closed = (
        'Closed', 'Closed in 2021', 'Not Currently Operating',
        'Discontinued', 'Removed',
        'Chapter 7 bankruptcy; rides dismantled and sold; property sold'
    )

    sbno = (
        'SBNO (Standing But Not Operating)', 'SBNO December 2019'
    )

    under_maintenance = (
        'Under Maintenance',
        'closed for maintenance as of july 30 no reopening date known'
    )

    result = ''

    if status in temporary_closed:
        result = 'temporary_closed'
    elif status in closed:
        result = 'closed'
    elif status in sbno:
        result = 'sbno'
    elif status in under_maintenance:
        result = 'under_maintenance'
    elif status == 'Under construction':
        result = 'In Production'
    else:
        result = status

    return result.lower().replace(' ', '_')


print('Before:')
display(df['status'].unique().to_list())

df = df.with_columns(pl.col('status').fill_null('unknown'))
df = df.with_columns(pl.col('status').map_elements(
    change_status, return_dtype=pl.String).cast(pl.Categorical))

print('After:')
display(df['status'].unique().to_list())

Before:

['Operating',
 'closed for maintenance as of july 30 no reopening date known',
 'Not Currently Operating',
 'Under Maintenance',
 'Temporarily closed',
 'Closed',
 'Chapter 7 bankruptcy; rides dismantled and sold; property sold',
 'SBNO (Standing But Not Operating)',
 'SBNO December 2019',
 'Removed',
 'Closed in 2021',
 'Temporarily Closed',
 None,
 'Under construction',
 'In Production',
 'Discontinued']

After:

['closed',
 'operating',
 'unknown',
 'in_production',
 'under_maintenance',
 'sbno',
 'temporary_closed']

### Extract meter in length & height columns

In [154]:
def extract_meter(value: str) -> float:
    match = re.search(r"\(([\d.,]+)\s*m\)", value)

    if match:
        return float(match.group(1).replace(',', ''))
    else:
        return None


df = df.with_columns(
    pl.col("length_in_m").map_elements(extract_meter, return_dtype=pl.Float64),
    pl.col("height_in_m").map_elements(extract_meter, return_dtype=pl.Float64)
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬───────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ type_main ┆ … ┆ opening_da ┆ closing_y ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---       ┆   ┆ te         ┆ ear       ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ str       ┆   ┆ ---        ┆ ---       ┆ f64      ┆ f64       │
│            ┆            ┆        ┆           ┆   ┆ str        ┆ str       ┆          ┆           │
╞════════════╪════════════╪════════╪═══════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ Wood      ┆ … ┆ 1884-06-16 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆           ┆   ┆            ┆           ┆          ┆           │
└────────────┴────────────┴────────┴───────────┴───┴────────────┴───────────┴──────────┴───────────┘

### Extract km/h in speed column

In [155]:
def extract_kmh(value: str) -> float:
    MPH_TO_KMH = 1.60934

    if "mp" in value:
        # Convert mph to km/h
        return float(re.search(r"[\d.]+", value).group()) * MPH_TO_KMH
    elif "km" in value:
        return float(re.search(r"[\d.]+", value).group())
    else:
        return None


df = df.with_columns(
    pl.col("speed_in_kmh").map_elements(extract_kmh, return_dtype=pl.Float64)
)
df.head(1)

shape: (1, 15)
┌────────────┬────────────┬────────┬───────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ name       ┆ location   ┆ status ┆ type_main ┆ … ┆ opening_da ┆ closing_y ┆ latitude ┆ longitude │
│ ---        ┆ ---        ┆ ---    ┆ ---       ┆   ┆ te         ┆ ear       ┆ ---      ┆ ---       │
│ str        ┆ str        ┆ cat    ┆ str       ┆   ┆ ---        ┆ ---       ┆ f64      ┆ f64       │
│            ┆            ┆        ┆           ┆   ┆ str        ┆ str       ┆          ┆           │
╞════════════╪════════════╪════════╪═══════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ Switchback ┆ Coney      ┆ closed ┆ Wood      ┆ … ┆ 1884-06-16 ┆ null      ┆ 40.574   ┆ -73.978   │
│ Railway    ┆ Island     ┆        ┆           ┆   ┆            ┆           ┆          ┆           │
└────────────┴────────────┴────────┴───────────┴───┴────────────┴───────────┴──────────┴───────────┘